.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 500px;
}



/* src/components/homePage.css */
.home-page {
  display: flex;
  flex-direction: column; /* Stack filter and tasks vertically */
  padding: 20px; /* Add some padding around the page */
}

.filter-container {
  display: flex;
  justify-content: flex-end; /* Align filter button to the right */
  margin-bottom: 20px; /* Space between filter and tasks */
}

.task-grid {
  display: grid; /* Use grid layout for tasks */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between task cards */
}

.no-tasks-message {
  display: flex;
  flex-direction: column; /* Stack the heading and paragraph */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Center text */
  color: #333; /* Text color */
  margin: 0; /* Remove default margin */
}

.no-tasks-message h1 {
  font-size: 48px; /* Large font size for the heading */
  margin: 0; /* Remove default margin */
}

.no-tasks-message p {
  font-size: 24px; /* Medium font size for the paragraph */
  margin-top: 10px; /* Space between heading and paragraph */
}