.navbar {
    display: flex;
    align-items: center;
    padding: 10px 40px; /* Padding to move navbar content from edges */
    background-color: #333;
    color: white;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

/* Wrap New Task button and filter in a container with spacing */
.navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between New Task button and filter dropdown */
}

.navbar-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.filter-container {
    position: relative;
}

.filter-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.filter-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
    color: black;
}

.filter-option {
    padding: 10px;
    cursor: pointer;
}

.filter-option:hover, .filter-submenu div:hover {
    background-color: #f0f0f0;
}

.filter-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 2;
}

.filter-option:hover .filter-submenu {
    display: block;
}
