
.task-card {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column; 
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;  
}


.task-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.priority-dot {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


.priority-high {
    background-color: red;
    color: white !important; 
}


.priority-medium {
    background-color: yellow;
    color: black !important;
}


.priority-low {
    background-color: green;
    color: white !important;
}



.task-card h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
    line-height: 1.3;
}


.task-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.5;
}


.task-card strong {
    font-weight: bold;
    color: #333;
}



.task-card .priority {
    font-size: 1rem;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}


.task-card .description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}


@media (max-width: 600px) {
    .task-grid {
        grid-template-columns: 1fr; 
    }

    .task-card {
        max-width: 100%;
    }
}


.due-date-time {
    font-size: 1rem;
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.due-date-label {
    color: #007BFF;
    font-weight: 600;
    margin-right: 5px;
}

.due-time {
    color: #FF6347;
    font-weight: 600;
    margin-left: 5px;
}


@media (max-width: 600px) {
    .due-date-time {
        font-size: 0.9rem;
        flex-direction: column;
        align-items: flex-start;
    }
}
